.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0 15.5%;
  

  .filters {
      display: flex;
      margin-bottom: 5vh;
      margin-top: 10vh ;

      select {
        margin-left: 10px;
          font-family: 'secondpolice';
          size: 12px;
          font-weight: 500;        
          margin-right: 35px;
          border: 1.3px solid #B8BBC2;
          border-radius: 8px;
          padding: 10px 140px 10px 15px;
          background-color: white;
          

         
        &:hover {
          border-color: blue; 
      }

      &:focus {
          outline: none; 
          border-radius: 8px 8px 0 0; 
      }
      &:focus:not(:hover) {
        border-radius: 8px ; 
    }
      }
      
    select:last-child {
      margin-left: auto; 
      margin-right: 10px;
      padding-right: 95px;
  }
  }
  .galeries{
    width: 100%;
    height: 100%;
    
  .photo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
   
    .photo {
        
       
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            
        }
    }
  }
  }
}



#media-format-selector{
  padding-right: 160px;
}

.more-photos{
  display: flex;
  align-self:center;
  position: sticky;
  font-family: 'firstpolice';
  width: 30vh;
  height: 5vh;
  background-color: #D8D8D8; 
  border: 1px solid transparent; 
  
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 35px;
  transition: background-color 0.4s, color 0.4s;

  &:hover {
      background-color: black;
      color: white;
  }

}
@media only screen and (max-width: 768px){


  .menu-container{

    .filters{
      flex-direction: column;
      align-items: center;
      gap: 2vh;

      select{
       margin-left: unset;
        margin-right: unset;
        
      }
      select:last-child {
        margin-left: unset; 
        margin-right: unset;
        
    }
  
    }
    .galeries{

      .photo-container{
        flex-flow: wrap;
      }
    }
  }


  .photo-container{

    .photo-wrapper{

      width: 100%;
      height: 300px;
  }
}
}
