.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0 30vh;

  .filters {
    display: flex;
    margin-bottom: 5vh;
    margin-top: 10vh;

    .select2 {
      font-family: 'secondpolice';
      font-size: 12px;
      font-weight: 500;
      border: 1.3px solid #B8BBC2;
      border-radius: 8px;
      padding: 10px 15px; // Ajustement du padding
      background-color: white;
      flex: 1; // Pour que les sélecteurs s'étendent sur toute la largeur

      &:hover {
        border-color: blue;
      }

      &:focus {
        outline: none;
        border-radius: 8px 8px 0 0;
      }

      &:focus:not(:hover) {
        border-radius: 8px;
      }

      &:not(:last-child) {
        margin-right: 10px; // Espacement entre les sélecteurs
      }
    }

    .select2:first-child {
      margin-right: 10px; // Espacement entre le premier et le deuxième sélecteur
    }

    .select2:last-child {
      margin-left: auto; // Alignement du dernier sélecteur à droite
    }
  }














 

  .photo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
   
    .photo {
        
       
        img {// en px pour eviter marge auto du bloc
            width: 632px; 
            height: 530px; 
            object-fit: cover; 
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }
  }
}





.more-photos{
  position: relative;
  font-family: 'firstpolice';
  width: 30vh;
  height: 5vh;
  background-color: #D8D8D8; 
  border: 1px solid transparent; 
  left: 42%;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 35px;
  transition: background-color 0.4s, color 0.4s;

  &:hover {
      background-color: black;
      color: white;
  }

}
