@charset "UTF-8";
@font-face {
  font-family: "firstpolice";
  src: url("../font/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "secondpolice";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}
.header {
  position: fixed;
  background-color: white;
  z-index: 1000;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.1);
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}
.header__nav img {
  width: 300px;
  height: auto;
}

.primary-menu {
  list-style: none;
  display: flex;
  font-family: "firstpolice";
}
.primary-menu li {
  margin-right: 60px;
}
.primary-menu li a {
  color: black;
  text-decoration: none;
  line-height: 23.7px;
}
.primary-menu li:hover {
  font-weight: 700;
  cursor: pointer;
}

/* Styles généraux pour le menu */
.burger-menu {
  display: none; /* Masque le burger menu par défaut */
  width: 4vh;
  height: 30px;
  position: absolute;
  top: 45%; /* Ajuster selon votre design */
  right: 20px; /* Ajuster selon votre design */
  cursor: pointer;
  z-index: 2000; /* Assure que le burger menu est au-dessus de tout le contenu */
}

.menu-closed, .menu-open {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 5vh;
  bottom: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
}

.menu-closed {
  background-image: url("../img/State=default.png"); /* Image de menu fermé */
}

.menu-open {
  background-image: url("../img/State=Open.png"); /* Image de menu ouvert */
  opacity: 0; /* Cache l'image du menu ouvert initialement */
  pointer-events: none; /* Désactive les événements de clic sur l'image menu ouvert */
}

.panel {
  position: relative; /* Assure le contexte de positionnement pour l'overlay */
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%; /* 50% de la largeur de la div panel */
  height: 45vh;
  background-color: red; /* Rouge semi-transparent */
  z-index: 1000; /* Assure que l'overlay est au-dessus de tout le reste */
  opacity: 0; /* Démarre invisible */
  pointer-events: none; /* Désactive les clics sur l'overlay initialement */
  transition: opacity 0.3s ease; /* Animation de transition */
}

.mobile-menu {
  list-style: none;
  display: flex;
  font-family: "firstpolice";
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
  margin-top: 15vh;
  gap: 2vh;
}
.mobile-menu li a {
  color: white;
  text-decoration: none;
  line-height: 23.7px;
}
.mobile-menu li:hover {
  font-weight: 700;
  cursor: pointer;
}

/* Media query pour les appareils mobiles (largeur maximale typique pour mobile) */
@media only screen and (max-width: 768px) {
  .burger-menu {
    display: block; /* Affiche le burger menu sur les appareils mobiles */
  }
  .header__nav img {
    margin-top: 10%;
    width: 70%;
  }
  .header__nav .primary-menu {
    display: none;
  }
  #panel-overlay > div > ul > li.btn-contact.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-80 {
    display: none;
  }
}
.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
}

#menu-nav-footer {
  display: flex;
  list-style: none;
  font-family: "firstpolice";
  padding: 0px;
}
#menu-nav-footer li {
  padding: 0 40px;
}
#menu-nav-footer li a {
  color: black;
  text-decoration: none;
  line-height: 23.7px;
}
#menu-nav-footer li:hover {
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .footer__nav {
    margin-top: 5vh;
  }
  #menu-nav-footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  #menu-nav-footer li {
    margin-bottom: 4vh;
  }
}
/*scss modal*/
.modal {
  display: none; /* Par défaut, la modal est cachée */
  position: fixed; /* Permet de positionner la modal par rapport à la fenêtre du navigateur */
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__container {
  background-color: #fefefe;
  margin: 6% auto; /* Centrer la modal verticalement et horizontalement */
  padding: 20px;
  border: 3px solid black;
  width: 30%;
  bottom: -5%;
  height: 75%;
  position: relative;
  overflow: hidden;
}
.modal__container .close { /*la crois reste cacher pour une estetique */
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__container .close:hover, .modal__container .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal__container .popup-image {
  width: 800px;
  position: relative;
  left: -50px;
}

/*formulaire*/
.wpcf7-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "secondpolice";
  /*bouton*/
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "secondpolice";
  font-size: 12px;
}
.wpcf7-form label {
  display: block; /* Afficher les étiquettes sur une nouvelle ligne */
}
.wpcf7-form input[type=submit] {
  margin-bottom: -65px;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 10px 80px;
  border: none;
  cursor: pointer;
  font-family: "secondpolice";
  font-size: 14px;
  transition: background-color 0.4s, color 0.4s;
}
.wpcf7-form input[type=submit]:hover {
  background-color: black;
  color: white;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  display: none;
}

@media only screen and (max-width: 768px) {
  .modal__container {
    bottom: -10%;
  }
  .modal__container .popup-image {
    width: 50vh;
  }
  .wpcf7-form input[type=submit] {
    padding: 10px 40px;
  }
}
.post-photo {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15vh;
}

.post-bloc {
  font-family: "firstpolice";
  display: flex;
  position: relative;
  justify-content: space-between;
}
.post-bloc__description {
  border-bottom: 1px solid black;
  align-self: flex-end;
  padding-bottom: 50px;
  width: 58vh;
}
.post-bloc h1 {
  font-style: italic;
  font-size: 3em;
  line-height: 1em;
  display: block;
  width: 30vh;
}
.post-bloc p {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 9px;
}

.post-bloc__image {
  width: 50%;
}

.interaction-photo {
  height: 118px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.interaction-photo .interaction-texte {
  display: flex;
  align-items: center;
}
.interaction-photo__btn {
  font-family: "firstpolice";
  width: 27vh;
  height: 5vh;
  margin-left: 11vh;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
}
.interaction-photo__btn:hover {
  background-color: black;
  color: white;
}

.texte {
  font-family: "secondpolice";
  font-weight: 300;
  font-size: 14px;
}

.interaction-photo__navigation {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8vh;
  justify-content: center;
}
.interaction-photo__navigation .fleche {
  width: 25vh;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.interaction-photo__navigation .fleche:hover {
  opacity: 1;
}
.interaction-photo__navigation .fleche-gauche {
  margin-right: 5vh;
}
.interaction-photo__navigation .preview {
  position: absolute;
  margin-bottom: 20px;
}
.interaction-photo__navigation .preview img {
  width: 11vh;
  height: 8vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.interaction-photo__navigation .fleche:hover + .preview,
.interaction-photo__navigation .preview:hover {
  display: block;
}
.interaction-photo__navigation .previous-image img,
.interaction-photo__navigation .next-image img {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.recommandations {
  padding-top: 75px;
}
.recommandations h2 {
  padding-bottom: 40px;
  font-family: "firstpolice";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.recommandations__images {
  display: flex;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 768px) {
  .post-bloc {
    display: flex;
    flex-wrap: wrap-reverse;
    position: relative;
  }
  .post-bloc .post-bloc__image {
    width: 100%;
  }
  .interaction-photo {
    justify-content: center;
  }
  .interaction-photo__btn {
    margin-left: 0vh;
  }
  .interaction-photo .interaction-texte {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .interaction-photo .interaction-photo__navigation {
    display: none !important;
  }
  .interaction-photo .post-bloc__description,
.interaction-photo .interaction-photo {
    position: relative;
    border-bottom: none;
    margin-bottom: -1px;
    overflow: visible;
  }
  .interaction-photo .post-bloc__description:before,
.interaction-photo .interaction-photo:before {
    content: "";
    position: absolute;
    left: -20%;
    right: -20%;
    bottom: -2px;
    height: 1px;
    background-color: black;
  }
  .recommandations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .recommandations__images {
    flex-direction: column;
  }
}
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: center;
}
.hero h1 {
  font-family: "firstpolice";
  text-transform: uppercase;
  font-size: 125px;
  font-weight: 700;
  font-style: italic;
  line-height: 142.18px;
  color: transparent;
  -webkit-text-stroke: 0.1vh white;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 65px;
    line-height: 90px;
  }
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0 15.5%;
}
.menu-container .filters {
  display: flex;
  margin-bottom: 5vh;
  margin-top: 10vh;
  margin-left: 45px;
  margin-right: 45px;
}
.menu-container .filters select {
  margin-left: 10px;
  font-family: "secondpolice";
  size: 12px;
  font-weight: 500;
  margin-right: 35px;
  border: 1.3px solid #B8BBC2;
  border-radius: 8px;
  padding: 10px 140px 10px 15px;
  background-color: white;
}
.menu-container .filters select:hover {
  border-color: blue;
}
.menu-container .filters select:focus {
  outline: none;
  border-radius: 8px 8px 0 0;
}
.menu-container .filters select:focus:not(:hover) {
  border-radius: 8px;
}
.menu-container .filters select:last-child {
  margin-left: auto;
  margin-right: 10px;
  padding-right: 95px;
}
.menu-container .galeries {
  width: 100%;
  height: 100%;
}
.menu-container .galeries .photo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-container .galeries .photo-container .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#media-format-selector {
  padding-right: 160px;
}

.more-photos {
  display: flex;
  align-self: center;
  position: -webkit-sticky;
  position: sticky;
  font-family: "firstpolice";
  width: 30vh;
  height: 5vh;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 35px;
  transition: background-color 0.4s, color 0.4s;
}
.more-photos:hover {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .menu-container .filters {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .menu-container .filters select {
    margin-left: unset;
    margin-right: unset;
  }
  .menu-container .filters select:last-child {
    margin-left: unset;
    margin-right: unset;
  }
  .photo-container {
    justify-content: center;
  }
  .photo-container .photo-wrapper {
    margin: 0px 10px 20px 10px;
    width: 45%;
    height: 300px;
  }
}
@media only screen and (min-width: 993px) {
  .photo-container {
    justify-content: center;
  }
  .photo-container .photo-wrapper {
    width: 45%;
    height: 530px;
  }
}
@media only screen and (max-width: 768px) {
  .menu-container .filters {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .menu-container .filters select {
    margin-left: unset;
    margin-right: unset;
  }
  .menu-container .filters select:last-child {
    margin-left: unset;
    margin-right: unset;
  }
  .menu-container .galeries .photo-container {
    flex-flow: wrap;
  }
  .photo-container .photo-wrapper {
    width: 100%;
    height: 300px;
  }
}
.photo-wrapper {
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 632px;
  height: 530px;
}
.photo-wrapper .photo-link {
  display: block;
  position: relative;
  text-decoration: none;
}
.photo-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.photo-wrapper .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: auto !important;
}
.photo-wrapper:hover .hover-overlay {
  opacity: 1;
}
.photo-wrapper .eye-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -o-object-fit: none !important;
     object-fit: none !important;
  transition: transform 0.3s ease;
}
.photo-wrapper .eye-icon:hover {
  transform: scale(1.2);
}
.photo-wrapper .info-top-left {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.photo-wrapper:hover .info-top-left {
  opacity: 1;
}
.photo-wrapper .enlarge-icon {
  border-radius: 50%;
  background-color: black;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  -o-object-fit: none;
     object-fit: none;
}
.photo-wrapper .photo-info {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.photo-wrapper:hover .photo-info {
  opacity: 1;
}
.photo-wrapper .photo-reference,
.photo-wrapper .photo-category {
  margin-right: 20px;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
  height: 75%;
  max-width: 90%;
  max-height: 90%;
}
.lightbox-content .full-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox-content .photo-details {
  color: white;
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.lightbox-content .photo-details .photo-title {
  margin-right: 6vh;
}
.lightbox-content .photo-details .photo-reference {
  margin-left: 6vh;
}
.lightbox .lightbox-close,
.lightbox .lightbox-prev,
.lightbox .lightbox-next {
  position: absolute;
  cursor: pointer;
  top: 20px;
  opacity: 0.5;
}
.lightbox .lightbox-close:hover,
.lightbox .lightbox-prev:hover,
.lightbox .lightbox-next:hover {
  opacity: 1;
}
.lightbox .lightbox-close.lightbox-close,
.lightbox .lightbox-prev.lightbox-close,
.lightbox .lightbox-next.lightbox-close {
  top: 10px;
  right: -10%;
  width: 30px;
  height: 30px;
}
.lightbox .lightbox-close.lightbox-prev,
.lightbox .lightbox-prev.lightbox-prev,
.lightbox .lightbox-next.lightbox-prev {
  right: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 15vh;
  height: 3vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox .lightbox-close.lightbox-next,
.lightbox .lightbox-prev.lightbox-next,
.lightbox .lightbox-next.lightbox-next {
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 15vh;
  height: 3vh;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .photo-wrapper {
    margin: 10px;
    width: unset;
    height: unset;
  }
  .photo-wrapper img {
    width: 100%;
    height: 100%;
  }
  .lightbox .full-image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .lightbox .lightbox-prev.lightbox-prev,
.lightbox .lightbox-next.lightbox-prev {
    height: 2vh;
  }
  .lightbox .lightbox-prev.lightbox-next,
.lightbox .lightbox-next.lightbox-next {
    height: 2vh;
  }
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */