@charset "UTF-8";
@font-face {
  font-family: "firstpolice";
  src: url("../font/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "secondpolice";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}
.header {
  height: 75px;
  margin-top: 15px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.1);
}
.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav img {
  margin-top: 3%;
  width: 300px;
  height: auto;
}

.menu {
  list-style: none;
  display: flex;
  font-family: "firstpolice";
}
.menu li {
  margin-right: 60px;
}
.menu li a {
  color: black;
  text-decoration: none;
  line-height: 23.7px;
}
.menu li:hover {
  font-weight: 700;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
}

/*scss modal*/
.modal {
  display: none; /* Par défaut, la modal est cachée */
  position: fixed; /* Permet de positionner la modal par rapport à la fenêtre du navigateur */
  z-index: 999; /* Place la modal au-dessus de tout le reste */
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Fond noir semi-transparent */
}

.modal__container {
  background-color: #fefefe;
  margin: 6% auto; /* Centrer la modal verticalement et horizontalement */
  padding: 20px;
  border: 3px solid black;
  width: 25%;
  position: relative;
  overflow: hidden;
}
.modal__container .close { /*la crois reste cacher pour une estetique */
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__container .close:hover, .modal__container .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal__container .popup-image {
  width: 800px;
  position: relative;
  left: -50px;
}

/*formulaire*/
.wpcf7-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "secondpolice";
  /*bouton*/
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "secondpolice";
  font-size: 12px;
}
.wpcf7-form label {
  display: block; /* Afficher les étiquettes sur une nouvelle ligne */
}
.wpcf7-form input[type=submit] {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 50%;
  max-width: 200px;
  color: black;
  padding: 10px 120px;
  border: none;
  cursor: pointer;
  font-family: "secondpolice";
  font-size: 14px;
  transition: background-color 0.4s, color 0.4s;
}
.wpcf7-form input[type=submit]:hover {
  background-color: black;
  color: white;
}

.post-photo {
  margin-left: 22vh;
  margin-right: 22vh;
  margin-top: 5vh;
}

.post-bloc {
  font-family: "firstpolice";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-bloc__description {
  border-bottom: 1px solid black;
  align-self: flex-end;
  padding-bottom: 50px;
  width: 72vh;
}
.post-bloc h1 {
  font-style: italic;
  font-size: 3em;
  line-height: 1em;
  display: block;
  width: 30vh;
}
.post-bloc p {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 9px;
}

.post-bloc__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70vh;
}

.interaction-photo {
  height: 118px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.interaction-photo .interaction-texte {
  display: flex;
  align-items: center;
}
.interaction-photo__btn {
  font-family: "firstpolice";
  width: 35vh;
  height: 5vh;
  margin-left: 17vh;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  outline: none;
  transition: background-color 0.4s, color 0.4s;
}
.interaction-photo__btn:hover {
  background-color: black;
  color: white;
}

.texte {
  font-family: "secondpolice";
  font-weight: 300;
  font-size: 14px;
}

.interaction-photo__navigation {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8vh;
  justify-content: center;
}
.interaction-photo__navigation .fleche {
  width: 25vh;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.interaction-photo__navigation .fleche:hover {
  opacity: 1;
}
.interaction-photo__navigation .fleche-gauche {
  margin-right: 5vh;
}
.interaction-photo__navigation .preview {
  position: absolute;
  margin-bottom: 20px;
}
.interaction-photo__navigation .preview img {
  width: 11vh;
  height: 8vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.interaction-photo__navigation .fleche:hover + .preview,
.interaction-photo__navigation .preview:hover {
  display: block;
}
.interaction-photo__navigation .previous-image img,
.interaction-photo__navigation .next-image img {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.recommandations {
  padding-top: 75px;
}
.recommandations h2 {
  padding-bottom: 40px;
  font-family: "firstpolice";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.recommandations__images {
  display: flex;
  flex-wrap: wrap;
  height: 30vw;
  margin-bottom: 10vh;
}
.recommandations__image {
  flex: 1 1 calc(50% - 20px);
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.recommandations__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-size: cover;
  background-position: center;
}
.hero h1 {
  font-family: "firstpolice";
  text-transform: uppercase;
  font-size: 125px;
  font-weight: 700;
  font-style: italic;
  line-height: 142.18px;
  color: transparent;
  -webkit-text-stroke: 0.1vh white;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin: 0 30vh;
}
.menu-container .filters {
  display: flex;
  margin-bottom: 5vh;
  margin-top: 10vh;
}
.menu-container .filters select {
  font-family: "secondpolice";
  size: 12px;
  font-weight: 500;
  margin-right: 35px;
  border: 1.3px solid #B8BBC2;
  border-radius: 8px;
  padding: 10px 140px 10px 15px;
  background-color: white;
}
.menu-container .filters select:hover {
  border-color: blue;
}
.menu-container .filters select:focus {
  outline: none;
  border-radius: 8px 8px 0 0;
}
.menu-container .filters select:focus:not(:hover) {
  border-radius: 8px;
}
.menu-container .filters select:last-child {
  margin-left: auto;
  margin-right: 10px;
}
.menu-container .photo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-container .photo-container .photo img {
  width: 632px;
  height: 530px;
  -o-object-fit: cover;
     object-fit: cover;
}

.more-photos {
  position: relative;
  font-family: "firstpolice";
  width: 30vh;
  height: 5vh;
  background-color: #D8D8D8;
  border: 1px solid transparent;
  left: 42%;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 35px;
  transition: background-color 0.4s, color 0.4s;
}
.more-photos:hover {
  background-color: black;
  color: white;
}

.photo-wrapper {
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.photo-wrapper .photo-link {
  display: block;
  position: relative;
  text-decoration: none;
}
.photo-wrapper img {
  width: 632px;
  height: 530px;
  transition: transform 0.3s ease;
}
.photo-wrapper .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 632px;
  height: 530px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: auto !important;
}
.photo-wrapper:hover .hover-overlay {
  opacity: 1;
}
.photo-wrapper .eye-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  -o-object-fit: none !important;
     object-fit: none !important;
}
.photo-wrapper .enlarge-icon {
  border-radius: 50%;
  background-color: black;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  -o-object-fit: none;
     object-fit: none;
}
.photo-wrapper .photo-info {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0; /* Masquer par défaut */
  transition: opacity 0.3s ease;
}
.photo-wrapper:hover .photo-info {
  opacity: 1; /* Afficher au survol */
}
.photo-wrapper .photo-reference,
.photo-wrapper .photo-category {
  margin-right: 20px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */